<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body class="container ">

    <%- include('../partials/header', {pagina: 'sobre'} ) %>

    <main>
        <div class="jumbotron">
            <h1>Sobre</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, rem facere earum, quo, est enim velit iusto consectetur cumque tempora nisi doloribus quas vero asperiores. Consectetur quam quisquam perspiciatis impedit.</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>